#fabs {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: flex;
    flex-direction: column;
}

#fabs > a:not(:last-child){
  margin-bottom: 16px;
}

#map {
  width: 100%;
    height: 100%;
}
