html, body, div, a-scene {
    background-color: transparent;
}

video, img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
}

#hud {
    width: 100%;
    height: 100%;
}

#contenedorSuperior {
    padding: 16px;
    padding-bottom: 56px;
    background: transparent;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.7), transparent);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.7), transparent);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.7), transparent);
    background: linear-gradient(rgba(255, 255, 255, 0.7), transparent);
    position: absolute;
    left: 0;
    right: 0;
}

#textoRestantes {
    font-size: 1.5rem;
    color: black;
}

#textoPuntaje {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 1.5rem;
    color: black;
}

#textoNuevoCada {
    font-size: 1rem;
    color: black;
}

#btnCondon {
    height: 48px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
}

#btnFlip {
    position: absolute;
    bottom: 16px;
    right: 16px;  
    color: white;
    font-size: 1rem;
}
#dialogoPartidaGanada>.card>a {
    font-size: 3rem;
}
